@import '_mixin.scss';
@import "_variables.scss";

.contact {
    height: 150vh;
    background-color: #f4f5f9;
    text-align: center;
    color: $textColor;
    padding: 5% 0;


    &_title {
        color: $titleColor;
        font-size: 2rem;
    }

    &_text {
        font-size: 1.2rem;
        width: 70%;
        margin: 2vh auto;
    }

    &_wrapper {
        height: 80%;
        width: 100%;



        div {
            background-color: white;
            border-radius: 5px;

        }

        &_information {
            height: 40%;
            width: 80%;
            margin: 5% auto;
            -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);

            &_element {
                height: 30%;
                @include flex-center(column, space-around, center);

                &_title {
                    color: red;
                    font-size: 1.7rem;
                    letter-spacing: 1px;
                }

                &_text {
                    font-size: 1.3rem;
                }
            }
        }

        &_form {
            height: 60%;
            width: 80%;
            margin: 0 auto;
            @include flex-center(column, center, center);
            -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);

            &_form {
                width: 90%;
                height: 90%;
                @include flex-center(column, space-around, center);

                &_element {
                    @include flex-center(column, space-around, center);
                    width: 100%;
                    height: 20%;
                    margin: 0 auto;


                    input {
                        border: none;
                        width: 100%;
                        height: 50px;
                        font-size: 2rem;
                        border-bottom: 1px solid gray;
                    }

                    p {
                        font-size: 1.4rem;
                        color: red;
                    }


                }

                button {
                    @include custom-buttom(red, 18rem, 4rem, white, 1.5rem);
                }

            }

            .correct {
                color: green;
            }
        }
    }


}