@import '_mixin.scss';
@import "_variables.scss";

$sizePage:("small": 2rem,
    "medium":3rem);

.header {
    height: 100vh;
    width: 100%;
    background-image: url("../assets/images/header_background_image.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    @include flex-center(column, center, center);

    header {

        height: 10vh;
        width: 100vw;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: space-around;

    }



    &_background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-image: url("../assets/images/header_background.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    &_icon {
        width: 5rem;
        height: 5rem;
        background-image: url("../assets/images/header_icon.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        bottom: -2.5rem;

    }


    &_introduction {


        height: 60vh;
        text-align: center;
        z-index: 2;
        @include flex-center(column, space-around, null);

        &_buttonsWrapper {
            @include flex-center(column, space-between, center);
            width: 100%;
            margin-top: 5vh;

            &_button {
                @include custom-buttom(red, 18rem, 4rem, #e74c3c, 1.5rem);
                margin: 2vh 0;

                @include breakpoint('laptop') {
                    @include custom-buttom(red, 20rem, 5rem, #e74c3c, 1.5rem);
                }



            }

            &_button:last-child {
                @include custom-buttom(transparent, 18rem, 4rem, white, 1.5rem);

                @include breakpoint('laptop') {
                    @include custom-buttom(transparent, 20rem, 5rem, white, 1.5rem);
                }
            }


        }



        &_title {
            font-weight: bold;
            font-size: 3rem;



            @include breakpoint('tablet') {
                font-size: 3.8rem;
            }

            @include breakpoint('screenxl') {
                font-size: 4rem;
            }
        }

        &_description {
            color: $textColor;
            width: 80%;
            margin: 0 auto;
            @include textRWD;


        }

        &_motto {
            font-size: 1.5rem;

            @include breakpoint('tablet') {
                @include fontSize('tablettext');
            }

            @include breakpoint('laptop') {
                @include fontSize('laptoptext');
            }

            @include breakpoint('screenxl') {
                @include fontSize('screenxltext');
            }
        }

    }

    &_brand {
        position: absolute;
        top: 2vh;
        left: 2vh;
        z-index: 2;

        @include breakpoint('laptop') {
            position: relative;
        }

        img {
            width: 12rem;
            height: 5rem;
        }
    }

    .menu-toggle {
        position: absolute;
        top: 2vh;
        right: 2vh;
        z-index: 10;
        position: fixed;


        i {
            color: orange;
            font-size: 3.5rem;
        }

        @include breakpoint('laptop') {
            display: none;
        }

    }

    &_nav {
        z-index: 3;
        position: fixed;
        top: 0;
        left: -100vw;
        height: 100vh;
        width: 100vw;
        @include flex-center(column, center, center);
        transition: 1s ease-in-out;

        @include breakpoint('laptop') {
            position: relative;
            left: 0;
            width: 60vw;
            height: 2vh;
            line-height: 2vh;
            background-color: transparent;

        }

        background-color: black;

        &_list {
            list-style-type: none;

            @include breakpoint('laptop') {
                width: 50vw;
                @include flex-center(row, space-between, center);
                height: auto;
            }


            &_element {
                width: 70vw;
                height: 10vh;
                margin: 0 auto;
                border-bottom: 1px solid gray;
                line-height: 10vh;
                transition: .5s ease-in-out;

                &:hover {
                    border-color: red;
                }

                @include breakpoint('tablet') {
                    width: 50vw;
                }

                @include breakpoint('laptop') {
                    width: 4vw;
                    height: auto;
                    margin: 0;
                    text-align: center;



                }










                &_link {
                    text-decoration: none;
                    color: white;
                    float: left;
                    @include textRWD;

                    @include breakpoint('laptop') {
                        float: none;
                        width: 4vw;

                    }
                }
            }
        }
    }

    .hide {
        left: 0%;

    }

    .active {
        display: none;
    }
}