@import '_mixin.scss';
@import "_variables.scss";

.history {
    height: 100vh;
    width: 100vw;

    @include flex-center(column, space-around, center);

    @include breakpoint("laptop") {
        @include flex-center(row, space-around, center);
    }

    p {
        margin: 5vh 0;
        color: $textColor;
        @include textRWD;
    }

    &_img {
        width: 70vw;

        @include breakpoint("tablet") {
            width: 40vw;
        }

        @include breakpoint("laptop") {
            width: 30vw;

        }

    }

    &_wrapper {
        text-align: center;
        width: 70vw;

        @include breakpoint("laptop") {
            width: 50vw;
        }

        &_title {
            color: $titleColor;
            line-height: 2rem;
            @include titleRWD;

            &:before {
                content: "";
                height: 2rem;
                display: inline-block;
                width: 2px;
                background-color: red;
                margin-right: 2vw;

            }
        }

        &_button {

            @include custom-buttom(red, 18rem, 4rem, #e74c3c, 1.5rem);

            @include breakpoint("laptop") {
                @include custom-buttom(red, 20rem, 5rem, #e74c3c, 1.5rem);
            }
        }
    }
}