@import '_mixin.scss';
@import "_variables.scss";

.info {

    height: auto;
    width: 100vw;
    @include flex-center(column, space-around, center);
    border-bottom: 1px solid #cbc6c0;

    @include breakpoint("laptop") {
        @include flex-center(row, space-between, center);
        padding: 5vh 0;
    }

    &_wrapper {
        width: 60vw;
        @include flex-center(column, space-between, center);
        text-align: center;
        min-height: 30vh;
        margin: 5vh 0;

        @include breakpoint("laptop") {
            width: 25vw;
            height: 50vh;
        }





        &_square {
            @include flex-center(row, center, center);
            width: 4rem;
            height: 4rem;
            line-height: 4rem;
            display: block;
            border: 1px solid #cbc6c0;

            @include breakpoint("laptop") {
                width: 5rem;
                height: 5rem;
                line-height: 5rem;
            }

            i {
                font-size: 1.5rem;
                line-height: 4rem;
                color: red;

            }

            i.active {
                transform: rotate(-45deg);
            }




        }

        &_square.active {
            border: 1px solid red;
            width: 4rem;
            height: 4rem;
            transform: rotate(45deg);

            @include breakpoint("laptop") {
                width: 5rem;
                height: 5rem;
                line-height: 5rem;
            }
        }



        &_title {
            color: $titleColor;

            @include fontSize("smallh2");

            @include breakpoint("smallxl") {
                @include fontSize("smallxlh2")
            }

            @include breakpoint("tablet") {
                @include fontSize("tableth2")
            }

            @include breakpoint("screen") {
                @include fontSize("screenh2")
            }
        }

        &_line {
            display: inline-block;
            width: 5rem;
            height: 0.2rem;
            background-color: #6a6a6a;
        }

        &_description {
            color: $textColor;
            @include fontSize("smalltext");

            @include breakpoint("smallxl") {
                @include fontSize("smallxltext")
            }

            @include breakpoint("tablet") {
                @include fontSize("tablettext")
            }

            @include breakpoint("laptop") {
                width: 50%;
            }

            @include breakpoint("screen") {
                @include fontSize("screentext")
            }
        }



    }


}