@mixin flex-center($direction, $justify, $align) {
    display: flex;
    align-items: $align;
    justify-content: $justify;
    flex-direction: $direction;
}

@mixin custom-buttom($background, $width, $height, $borderColor, $fontSize) {
    width: $width;
    height: $height;
    background-color: $background;
    border-radius: 0.2rem;
    border: 1px solid $borderColor;
    font-size: $fontSize;
    color: white;
    cursor: pointer;
    font-weight: bold;
    transition: 1s ease-in-out;

    &:hover {
        color: orange;
    }


}

$breakpoints:(small:320px,
    smallX:375px,
    smallXX:410px,
    tablet:768px,
    laptop:1250px,
    screen:1400px,
    screenXL:1600px,
);

@mixin breakpoint($breakpoint) {

    // If the key exists in the map
    @if map-has-key($breakpoints, $breakpoint) {

        // Prints a media query based on the value
        @media (min-width: map-get($breakpoints, $breakpoint)) {
            @content;
        }
    }

    // If the key doesn't exist in the map
    @else {
        @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        +"Available breakpoints are: #{map-keys($breakpoints)}.";
    }
}

// .selector {
//     color: red;

//     @include respond-to('small') {
//         color: blue;
//     }