@mixin flex-center($direction, $justify, $align) {
    display: flex;
    align-items: $align;
    justify-content: $justify;
    flex-direction: $direction;
}

@mixin custom-buttom($background, $width, $height, $borderColor, $fontSize) {
    width: $width;
    height: $height;
    background-color: $background;
    border-radius: 0.2rem;
    border: 1px solid $borderColor;
    font-size: $fontSize;
    color: white;
    cursor: pointer;
    font-weight: bold;
    transition: 1s ease-in-out;

    &:hover {
        color: orange;
    }


}

$breakpoints:(small:320px,
    smallxl:410px,
    tablet:768px,
    laptop:1250px,
    screen:1400px,
    screenxl:1600px,
);

@mixin breakpoint($breakpoint) {
    @if map-has-key($breakpoints, $breakpoint) {
        @media (min-width: map-get($breakpoints, $breakpoint)) {
            @content;
        }
    }

    @else {
        @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        +"Available breakpoints are: #{map-keys($breakpoints)}.";
    }
}

$textSize:(smalltext:1.2rem,
    smallxltext:1.4rem,
    tablettext:1.6rem,
    laptoptext:1.7rem,
    screentext:1.8rem,
    screenxltext:1.9rem,
    smallh2:1.8rem,
    smallxlh2:1.9rem,
    tableth2:2.3rem,
    laptoph2:2.5rem,
    screenh2:2.6rem,
    screenxlh2:2.7rem,



);

@mixin fontSize($size) {
    font-size: map-get($textSize, $size);

}

@mixin titleRWD() {
    @include fontSize('smallh2');

    @include breakpoint('smallxl') {
        @include fontSize('smallxlh2');
    }

    @include breakpoint('tablet') {
        @include fontSize('tableth2');
    }

    @include breakpoint('laptop') {
        @include fontSize('laptoph2');
    }

    @include breakpoint('screen') {
        @include fontSize('screenth2');
    }
}

@mixin textRWD() {
    @include fontSize('smalltext');

    @include breakpoint('smallxl') {
        @include fontSize('smallxltext');
    }

    @include breakpoint('tablet') {
        @include fontSize('tablettext');
    }

    @include breakpoint('laptop') {
        @include fontSize('laptoptext');
    }
}