@import '_mixin.scss';
@import "_variables.scss";

.service {
    height: 100vh;
    width: 100vw;

    @include breakpoint('laptop') {
        @include flex-center(row, space-around, center);
    }

    &_picture {
        height: 100%;
        width: 40vw;
        background-image: url("../assets/images/service_tablet.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        display: none;

        @include breakpoint('laptop') {
            display: block;
        }
    }

    &_info {
        height: 100%;
        background-color: #202020;
        @include flex-center(column, space-around, center);

        @include breakpoint('laptop') {
            width: 60vw;

        }

        &_title {

            @include fontSize('smallh2');
            line-height: 2rem;

            @include breakpoint('tablet') {
                @include fontSize('tableth2');
            }


            &:before {
                content: "";
                height: 2rem;
                display: inline-block;
                width: 0.2rem;
                background-color: red;
                margin-right: 2vw;


            }
        }

        &_wrapper {
            width: 70vw;
            text-align: center;

            @include breakpoint('laptop') {
                width: 70%;
                text-align: right;
            }

            &_title {
                margin: 2vh 0;
                color: red;
                @include fontSize('smallh2');

                @include breakpoint('tablet') {
                    @include fontSize('tableth2');
                }

            }

            &_description {
                color: $textColor;
                @include fontSize('smalltext');

                @include breakpoint('tablet') {
                    @include fontSize('tablettext');
                }
            }
        }
    }
}