@import '_mixin.scss';
@import "_variables.scss";

.statistic {
    height: 100vh;
    width: 100vw;

    @include breakpoint('tablet') {
        height: 50vh;
    }

    @include breakpoint('laptop') {
        height: 50vh;
    }


    background-image: url("../assets/images/statistic_image.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    @include flex-center(column, space-around, center);

    @include breakpoint('tablet') {
        @include flex-center(row, space-around, center);
    }

    &_wrapper {
        &_circle {
            width: 6rem;
            height: 6rem;
            border-radius: 50%;
            border: .1rem solid white;
            margin: 0 auto;
            @include flex-center(row, center, center);

            i {
                color: white;

                font-size: 2.5rem;

                @include breakpoint('tablet') {
                    font-size: 3rem;
                }
            }

            @include breakpoint('tablet') {
                width: 8rem;
                height: 8rem;
            }


        }





        &:last-child() {
            margin: 0 100px 0 0;
        }

        &_data {
            @include flex-center(column, space-around, center);

            &_likes {

                @include fontSize('smalltext');

                @include breakpoint('tablet') {
                    @include fontSize('tablettext');
                }

            }

            &_category {
                letter-spacing: .1rem;
                @include textRWD();


            }
        }
    }

    .left-margin {
        margin: 0 12rem 0 0;

        @include breakpoint('tablet') {
            margin: 0;
        }

        @include breakpoint('laptop') {
            margin: 0;
        }

    }

    .right-margin {
        margin: 0 0 0 12rem;

        @include breakpoint('tablet') {
            margin: 0;
        }

        @include breakpoint('laptop') {
            margin: 0;
        }
    }
}