@import '_mixin.scss';
@import "_variables.scss";

.works {
    min-height: 100vh;
    width: 100vw;
    color: $textColor;




    &_title {
        padding: 2vh 0;
        color: $titleColor;
        font-weight: bold;
        letter-spacing: 1px;
        text-align: center;
        @include titleRWD;

        &:before {
            content: "";
            height: 2rem;
            display: inline-block;
            width: 0.2rem;
            background-color: red;
            margin-right: 2vw;


        }
    }

    &_description {
        text-align: center;
        width: 70%;
        margin: 0 auto;
        @include textRWD;
    }


    &_category {
        width: 100%;
        @include flex-center(row, center, center);
        flex-wrap: wrap;


        &_element {
            display: block;
            width: 12rem;
            height: 3rem;
            border: 1px solid red;
            text-align: center;
            background-color: transparent;
            font-weight: 500;
            transition: 1s ease-in-out;

            @include breakpoint("tablet") {
                width: 15rem;
                height: 3.5rem;
            }

            @include textRWD;

            &:hover {
                color: red;
                cursor: pointer;
            }
        }

    }

    .active {
        color: red;
    }

    &_wrapper {
        margin: 5vh 0;
        width: 100%;
        min-height: 50vh;
        transition: 1s ease-in-out;

        @include flex-center(row, center, center);

        &_img {
            margin: 2vh;
            width: 70%;
            height: 50%;
            border: 1px solid black;

            @include breakpoint('tablet') {
                width: 60%;
            }

            @include breakpoint('laptop') {
                width: 50%;
            }



        }

        &_button {
            display: block;
            width: 4rem;
            height: 4rem;
            background-color: red;
            text-align: center;
            line-height: 4rem;
            font-size: 2rem;
            color: white;
            border: none;
            transition: 1s ease-in-out;

            @include breakpoint('tablet') {
                width: 6rem;
                height: 6rem;
                font-size: 3rem;
            }

            &:hover {
                i {
                    color: black;
                    cursor: pointer;
                }

            }
        }

    }
}