@import './header';
@import './info';
@import './history';
@import './service';
@import './works';
@import './study';
@import './statistic';
@import './pricing';
@import './integrations';
@import './blog';
@import './contact';
@import './footer';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    font-size: 62.5%;
    /* 1 rem 10px */
    font-weight: 400;
    scroll-behavior: smooth;
}

body {
    background-color: white;
    font-family: 'Open Sans',
        sans-serif;
    color: white;


}




.btn {
    background-color: red;
}

.symbol {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2vh 0;


    &_line {
        width: 8rem;
        height: .2rem;
        background-color: #f1ebe7;
        display: block;

    }

    &_dot {
        width: 1rem;
        height: 1rem;
        background-color: red;
        display: block;
        border-radius: 50%;
        margin: 0 2rem;
    }
}