@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
.header {
  height: 100vh;
  width: 100%;
  background-image: url("../assets/images/header_background_image.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header_background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: url("../assets/images/header_background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.header_icon {
  width: 5rem;
  height: 5rem;
  background-image: url("../assets/images/header_icon.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  bottom: -2.5rem;
}

.header_introduction {
  height: 60vh;
  text-align: center;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header_introduction_buttonsWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin-top: 5vh;
}

.header_introduction_buttonsWrapper_button {
  width: 18rem;
  height: 4rem;
  background-color: red;
  border-radius: 0.2rem;
  border: 1px solid #e74c3c;
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
  font-weight: bold;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  margin: 2vh 0;
}

.header_introduction_buttonsWrapper_button:hover {
  color: orange;
}

.header_introduction_buttonsWrapper_button:last-child {
  width: 18rem;
  height: 4rem;
  background-color: transparent;
  border-radius: 0.2rem;
  border: 1px solid white;
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
  font-weight: bold;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

.header_introduction_buttonsWrapper_button:last-child:hover {
  color: orange;
}

.header_introduction_title {
  font-weight: bold;
  font-size: 3rem;
}

.header_introduction_description {
  font-size: 1.2rem;
  color: #cbc6c0;
}

.header_introduction_motto {
  font-size: 1.5rem;
}

.header_brand {
  position: absolute;
  top: 2vh;
  left: 2vh;
  z-index: 2;
}

.header_brand img {
  width: 12rem;
  height: 5rem;
}

.header .menu-toggle {
  position: absolute;
  top: 2vh;
  right: 2vh;
  z-index: 10;
  position: fixed;
}

.header .menu-toggle i {
  color: orange;
  font-size: 3.5rem;
}

.header_nav {
  z-index: 3;
  position: fixed;
  top: 0;
  left: -100vw;
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  background-color: black;
}

.header_nav_list {
  list-style-type: none;
}

.header_nav_list_element {
  width: 70vw;
  height: 10vh;
  margin: 0 auto;
  border-bottom: 1px solid gray;
  line-height: 10vh;
}

.header_nav_list_element_link {
  text-decoration: none;
  color: white;
  font-size: 2rem;
  float: left;
}

.header .hide {
  left: 0%;
}

.header .active {
  display: none;
}

.info {
  min-height: 150vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-bottom: 1px solid #cbc6c0;
}

.info_wrapper {
  width: 60vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  min-height: 30vh;
  margin-top: 5vh;
}

.info_wrapper_square {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 4rem;
  height: 4rem;
  line-height: 4rem;
  display: block;
  border: 1px solid #cbc6c0;
}

.info_wrapper_square i {
  font-size: 1.5rem;
  line-height: 4rem;
  color: red;
}

.info_wrapper_square i.active {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.info_wrapper_square.active {
  border: 1px solid red;
  width: 4rem;
  height: 4rem;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.info_wrapper_title {
  color: #6a6a6a;
  font-size: 1.8rem;
}

.info_wrapper_line {
  display: inline-block;
  width: 5rem;
  height: 0.2rem;
  background-color: #6a6a6a;
}

.info_wrapper_description {
  color: #cbc6c0;
}

.history {
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.history p {
  margin: 5vh 0;
  color: #999999;
}

.history_img {
  width: 70vw;
}

.history_wrapper {
  text-align: center;
  width: 70vw;
}

.history_wrapper_title {
  color: #6a6a6a;
  font-size: 1.8rem;
  line-height: 2rem;
}

.history_wrapper_title:before {
  content: "";
  height: 2rem;
  display: inline-block;
  width: 2px;
  background-color: red;
  margin-right: 2vw;
}

.history_wrapper_button {
  width: 18rem;
  height: 4rem;
  background-color: red;
  border-radius: 0.2rem;
  border: 1px solid #e74c3c;
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
  font-weight: bold;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

.history_wrapper_button:hover {
  color: orange;
}

.service {
  height: 100vh;
  width: 100vw;
}

.service_picture {
  height: 50%;
  width: 100vw;
  background-image: url("../assets/images/service_tablet.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: none;
}

.service_info {
  height: 100%;
  background-color: #202020;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.service_info_title {
  font-size: 1.8rem;
  line-height: 2rem;
}

.service_info_title:before {
  content: "";
  height: 2rem;
  display: inline-block;
  width: 0.2rem;
  background-color: red;
  margin-right: 2vw;
}

.service_info_wrapper {
  width: 70vw;
  text-align: center;
}

.service_info_wrapper_title {
  margin: 2vh 0;
  color: red;
}

.service_info_wrapper_description {
  color: #7b7b7b;
}

.works {
  min-height: 100vh;
  width: 100vw;
  color: #999999;
}

.works_title {
  padding: 2vh 0;
  color: #6a6a6a;
  font-weight: bold;
  letter-spacing: 1px;
  text-align: center;
  font-size: 1.8rem;
}

.works_description {
  text-align: center;
  width: 70%;
  margin: 0 auto;
}

.works_symbol {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.works_symbol_line {
  width: 8rem;
  height: .2rem;
  background-color: #f1ebe7;
  display: block;
}

.works_symbol_dot {
  width: 1rem;
  height: 1rem;
  background-color: red;
  display: block;
  border-radius: 50%;
  margin: 0 2rem;
}

.works_category {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.works_category_element {
  display: block;
  width: 12rem;
  height: 3rem;
  border: 1px solid red;
  font-size: 1.5rem;
  text-align: center;
  background-color: transparent;
}

.works .active {
  color: red;
}

.works_wrapper {
  margin: 5vh 0;
  width: 100%;
  min-height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.works_wrapper_img {
  margin: 2vh;
  width: 70%;
  height: 50%;
  border: 1px solid black;
}

.works_wrapper_button {
  display: block;
  width: 4rem;
  height: 4rem;
  background-color: red;
  text-align: center;
  line-height: 4rem;
  font-size: 2rem;
  color: white;
  border: none;
}

.works_wrapper_button:hover i {
  color: black;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 62.5%;
  /* 1 rem 10px */
  font-weight: 400;
}

body {
  background-color: white;
  font-family: 'Open Sans', sans-serif;
  color: white;
}

.btn {
  background-color: red;
}

.symbol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2vh 0;
}

.symbol_line {
  width: 8rem;
  height: .2rem;
  background-color: #f1ebe7;
  display: block;
}

.symbol_dot {
  width: 1rem;
  height: 1rem;
  background-color: red;
  display: block;
  border-radius: 50%;
  margin: 0 2rem;
}
/*# sourceMappingURL=index.css.map */